body {
    background-color: slategray;
}
.button {
    background-color: black;
    color: ghostwhite;
    padding: 6px;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: ghostwhite;
    color: black;
    font-weight: bold;
    opacity: 0.8;
}

.button:active {
    opacity: 0.5;
}